{% extends "base.html" %}

{% block titulo %}
    Pagina Inicio
{% endblock %}
{% block css_maestro%}
    <style>
        .ml10 {
            margin-left: 10px;
        }
    </style>
{% endblock %}

{% block contenido_titulo %}
    Pagina Principal
{% endblock %}
{% block contenido_sub_titulo %}
    <p>Bienvenido</p>
{% endblock %}

{% block contenido %}
{% if perms.personas.add_persona %}
    Agregar
{% endif %}
{% if perms.personas.change_persona %}
    Editar
{% endif %}

{% if perms.personas.delete_persona %}
    eliminar
{% endif %}
 <div id="toolbar">
    <div class="form-inline" role="form">
        <div class="form-group">
          <button id="idNuevaPersona" class="btn btn-primary icon-btn" type="button">
              <i class="fa fa-fw fa-lg fa-check-circle" ></i>Nuevo
          </button>
        </div>
    </div>
</div>


<table
        data-toggle="table"
        id="table"
        data-toolbar="#toolbar"
        data-height="480"
        data-url="{% url 'lista-persona' %}"
        data-search="true"
        data-row-style="rowStyle"
        data-side-pagination="server"
        data-pagination="true"
        data-page-list="[5, 10, 25, 50]"
        data-search="true">
        <thead>
            <tr>
                <th data-field="nombre"  data-sortable="true">Nombre</th>
                <th data-field="paterno"  data-sortable="true">Apellido Paterno</th>
                <th data-field="materno"  data-sortable="true">Apellido Maderno</th>
                <th data-field="sexo" data-sortable="true">Sexo</th>
                <th data-field="lugar" >Lugar de Nacimiento</th>
                <th data-field="action" data-formatter="actionFormatter" data-events="actionEvents">Action</th>
            </tr>
        </thead>

    </tbody>

</table>

{% include "modalFormulario.html" with idmodal='idPersonaModal' idformulario='idPersonaForm' %}
{% endblock %}

{% block js_maestro %}

    <script>
        var formulario = $("#idPersonaForm");
        var modalweb = $("#idPersonaModal");
        var tabla = $("#table");
        var modelo= "Persona";
        var idmodelo = 0;
        function rowStyle(row, index) {

            var classes = ['active'];
            if (index % 2 == 0) {
                return {
                    classes: classes[0]
                };
            }
            return {};
        }

        function actionFormatter(value, row, index) {
            return [
                '<a class="edit ml10" href="javascript:void(0)" title="Edit">',
                '<i class="fa fa-edit"></i>',
                '</a>',
                '<a class="remove ml10" href="javascript:void(0)" title="Remove">',
                '<i class="fa fa-remove"></i>',
                '</a>'
            ].join('');
        }

        window.actionEvents = {
            'click .edit': function (e, value, row, index) {
                idmodelo = row.id;
                urleditar = ("{% url 'persona-formulario' 12345 %}").replace(/12345/, idmodelo);
                modalweb.find(".modal-body").load(urleditar);
                modalweb.find('h4').text("Ediar "+modelo);
                modalweb.modal('show');
            },
            'click .remove': function (e, value, row, index) {
                idmodelo = row.id;
                modalweb.modal('show');
                urleditar = ("{% url 'persona-eliminar' 12345 %}").replace(/12345/, idmodelo);
                modalweb.find(".modal-body").load(urleditar);
                modalweb.find('h4').text("Eliminar "+modelo);
                $("#idBotonModal").text("Eliminar")
            }
        };

         modalweb.on('shown.bs.modal', function () {

        });

        $("#idNuevaPersona").on('click', function () {
            idmodelo = 0;
            modalweb.find('h4').html('<i class="fa fa-fw fa-lg fa-check-circle" ></i>');
            modalweb.find('h4').text("Nueva "+modelo);
            modalweb.modal('show');
             urleditar = ("{% url 'persona-formulario' 12345 %}").replace(/12345/, idmodelo);
             modalweb.find(".modal-body").load(urleditar);

        });

        formulario.submit(function( event ) {
            $.post(urleditar, $(this).serialize())
               .done(function( data ) {
                   if(data.estado){
                       $.notify({
                           title: "Mensaje: ",
                           message: data.mensaje,
                           icon: 'fa fa-check'
                       },{
                           type: "info"
                       });
                       modalweb.modal('hide');
                   }else{
                       modalweb.find(".modal-body").html(data)
                   }
                tabla.bootstrapTable('refresh');

               });
            event.preventDefault();
        });
    </script>


{% endblock %}

