{% extends "base.html" %}
{% load static %}
{% block titulo %}
    Pagina Personal
{% endblock %}
{% block css_maestro%}
    <style>
        .ml10 {
            margin-left: 10px;
        }
    </style>
{% endblock %}

{% block contenido_titulo %}

    <h1><i class="fa fa-C"></i>
        Personas
    </h1>
{% endblock %}
{% block contenido_sub_titulo %}
    <p>Bienvenido</p>
{% endblock %}

{% block contenido %}
{#{% if perms.personas.add_persona %}#}
{#    Agregar#}
{#{% endif %}#}
{#{% if perms.personas.change_persona %}#}
{#    Editar#}
{#{% endif %}#}
{##}
{#{% if perms.personas.delete_persona %}#}
{#    eliminar#}
{#{% endif %}#}
 <div id="toolbar">
    <div class="form-inline" role="form">
        <div class="form-group">
          <button id="idNuevaPersona" class="btn btn-primary icon-btn" type="button">
              <i class="fa fa-fw fa-lg fa-check-circle" ></i>Nuevo
          </button>
        </div>
    </div>
</div>


<table
        data-toggle="table"
        id="table"
        data-toolbar="#toolbar"
        data-height="480"
        data-url="{% url 'lista-persona' %}"
        data-search="true"
        data-classes="table table-hover table-condensed"
        data-striped="true"
        data-row-style="rowStyle"
        data-side-pagination="server"
        data-pagination="true"
        data-page-list="[5, 10, 25, 50]"
        data-search="true">
        <thead>
            <tr>
                <th data-field="nombre"  data-sortable="true">Nombre</th>
                <th data-field="paterno"  data-sortable="true">Apellido Paterno</th>
                <th data-field="materno"  data-sortable="true">Apellido Maderno</th>
                <th data-field="sexo" data-sortable="true">Sexo</th>
                <th data-field="nacimiento" data-sortable="true">Nacimiento</th>
                <th data-field="lugar" >Lugar de Nacimiento</th>
                <th data-field="action" data-formatter="actionFormatter" data-events="actionEvents">Action</th>
            </tr>
        </thead>

    </tbody>

</table>

{% include "modalFormulario.html" with idmodal='idPersonaModal' idformulario='idPersonaForm' %}
{% endblock %}

{% block js_maestro %}

    <script>
        var formulario = $("#idPersonaForm");
        var modalweb = $("#idPersonaModal");
        var tabla = $("#table");
        var modelo= "Persona";
        var btnNuevo = $("#idNuevaPersona");
        var txtforcus= $("#id_nombre");
        var idmodelo = 0;
        var urlformulario = "{% url 'persona-formulario' 12345 %}";
        var urlformularioeliminar = "{% url 'persona-eliminar' 12345 %}";
    </script>
    <script src="{% static "js/crud_simple.js" %}"></script>
    <script>
        modalweb.on('shown.bs.modal', function () {
            $("#id_nombre").trigger("focus");
        });
    </script>

{% endblock %}



