{% csrf_token %}
<div class="row">
    <div class="form-group">
        <label class="col-lg-2 control-label" for="p">Nombre:</label>
         <div class="col-lg-10">
             <p> {{ object.nombre }}</p>
          </div>
    </div>
</div>
<div class="row">
    <div class="form-group">
        <label class="col-lg-2 control-label" for="p">Orden:</label>
        <div class="col-lg-10">
             <p>{{ object.orden }}</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="form-group">
        <label class="col-lg-2 control-label" for="p">Url:</label>
        <div class="col-lg-10">
             <p>{{ object.url }}</p>
        </div>
    </div>
</div>

